@media (prefers-color-scheme: dark) {
  .img-shadow-clone {
    opacity: 0.5;
    filter: blur(6px) brightness(1) saturate(1) !important;
  }

}

.img-shadow-clone {
  opacity: 0.4;
  z-index: 0 !important;
  transition: 0.15s;
  animation: fadeIn 0.15s ease-in;
  display: none;
  pointer-events: none;
}

.AnimatedShowMore__ShadowOverlay {
  transition: 0.15s all;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)) !important;
}

@media screen and (prefers-color-scheme: dark) {
  .AnimatedShowMore__ShadowOverlay {
    background-image: linear-gradient(rgba(19, 44, 64, 0), rgb(19, 44, 64)) !important;
  }
}

@media screen {
  .img-shadow-clone {
    display: block;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.AnimatedShowMore__ToggleButton {
  float: right;
}


@keyframes scale-in-center {
  0% {
    transform: scale(1);
    /* opacity: 0; */
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
    /* opacity: 1; */
  }

}

.anim-scale-in-center {
  animation: scale-in-center 0.75s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards
}
